# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# OSQuery output or test input
input/*.json
output/

# IDE settings
.vscode/
.idea/
*.swp

# Logs
*.log

# Mac / Windows system files
.DS_Store
Thumbs.db

